Package: com.willbishop.folderfloat
Name: FolderFloat
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Will Bishpo
Author: Will Bishpo
Section: Tweaks
